{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "familyName": "Aragon",
    "givenName": "Jonah",
    "sameAs": ["https://twitter.com/@jonaharagon","https://www.linkedin.com/in/jonaharagon","https://youtube.com/@jonaharagon","https://www.instagram.com/jonaharagon","https://www.wikidata.org/wiki/Q117304062","https://github.com/jonaharagon","https://mastodon.neat.computer/@jonah","https://www.imdb.com/name/nm14688522/","https://jonaharagon.me/"]
  }
  </script>
  