<div class="footer">
  <div class="footer-copyright">
    <span>&copy; 2015 – {{ now.Year }} <a href="{{ "" | absLangURL }}">Jonah Aragon</a> • <a href="https://git.jonaharagon.net/jonah/jonaharagon.com">Website Source</a></span>
  </div>
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
      <span class="social-icon social-icon-{{ .name | urlize }}">
        <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
          <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}"/>
        </a>
      </span>
    {{ end }}
  </div>
  {{ end }}
</div>
