.footer {
  margin-top: 30px;
  @include breakpoint('small') {
    display: flex;
    justify-content: space-between;
  }
}

.footer > * {
  margin-top: 2em;
}

.social-icon {
  margin-right: 10px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      img {
        opacity: 0.7;
      }
    }
  }
}
