.intro {
  margin-bottom: 60px;
  h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    @include breakpoint('small') {
      width: 80%;
      font-size: 4em;
      line-height: 1.2em;
      margin-bottom: 1em;
    }
    strong {
      color: var(--highlight-color);
    }
  }
  h2 {
    font-size: 50px;
    line-height: 56px;
    @include breakpoint('small') {
      width: 80%;
    }
  }
  p {
    font-size: 20px;
    line-height: 26px;
    @include breakpoint('small') {
      width: 80%;
      font-size: 22px;
      line-height: 32px;
    }
  }
  .read-more {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    @include breakpoint('small') {
      font-size: 22px;
      line-height: 32px;
    }
  }
  img {
    max-width: 100%;
  }
  // img {
  //   margin-right: -30px;
  //   width: 100vw;
  //   vertical-align: bottom;
  //   @include breakpoint('small') {
  //     margin-left: -100px;
  //     margin-right: -100px;
  //     margin-bottom: 50px;
  //     width: auto;
  //   }
  // }
}

.page-home .intro {
  margin-top: 13vw;
  margin-bottom: 10em;

  .intro-social {
    margin-top: 4em;
    overflow: hidden clip;
    height: 1em;
    font-size: 2em;
    line-height: .03125em;
    a {
      margin-right: .5em;
    }
  }
}
