@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/webfonts/montserrat-700-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/webfonts/montserrat-700-italic.woff2) format('woff2');
}

:root {
  --font-family-heading: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-paragraph: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --base-color: hsl(0, 0%, 100%);
  --highlight-color: hotpink;
  --heading-color: #1c1b1d;
  --text-color: #4e5157;
  --dot-color: hotpink;
  --anaglyph-top: cyan;
  --anaglyph-bottom: hotpink;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #1c1b1d;
    --highlight-color: red;
    --heading-color: #ffffff;
    --text-color: #bbbbbb;
    --dot-color: #7b16ff;
    --anaglyph-top: blue;
    --anaglyph-bottom: red;
  }
  .highlight {
    color: black;
  }
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

a.header-logo span {
  color: var(--heading-color);
  position: absolute;
  font-family: var(--font-family-heading);
}
a.header-logo span::before {
  content: "Jonah Aragon";
  color: var(--anaglyph-top);
  position: absolute;
  top: -0.1em;
  left: -0.1em;
  z-index: -2;
}
a.header-logo span::after {
  content: "Jonah Aragon";
  color: var(--anaglyph-bottom);
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 100%;
  z-index: -1;
}
