:root {
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-paragraph: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --base-color: var(--arc-palette-background, #ffffff);
  --highlight-color: var(--arc-palette-maxContrastColor, #7b16ff);
  --heading-color: var(--arc-palette-title, #1c1b1d);
  --text-color: #4e5157;
  --dot-color: var(--arc-palette-maxContrastColor, #7b16ff);
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-color: var(--arc-palette-title, #1c1b1d);
    --highlight-color: var(--arc-palette-background, #b688f3);
    --heading-color: var(--arc-palette-background, #ffffff);
    --text-color: var(--arc-palette-focus, #bbbbbb);
    --dot-color: var(--arc-palette-maxContrastColor, #7b16ff);
  }
  .highlight {
    color: black;
  }
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'pygments/github';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
