<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Jonah Aragon",
    "url": "https://www.jonaharagon.com",
    "image": "https://mastodon-cdn.neat.computer/accounts/avatars/109/288/986/003/020/335/original/02050a024a172214.jpg",
    "sameAs": [
    "https://youtube.com/@jonaharagon",
    "https://github.com/jonaharagon",
    "https://www.wikidata.org/wiki/Q117304062",
    "https://mastodon.neat.computer/@jonah",
    "https://www.linkedin.com/in/jonaharagon/",
    "https://www.imdb.com/name/nm14688522"
    ],
    "memberOf": {
      "@type": "Organization",
      "@id": "https://www.privacyguides.org/",
      "name": "Privacy Guides",
      "url": "https://www.privacyguides.org/en/about/",
      "nonprofitStatus": "Nonprofit501c3",
      "sameAs": [
      "https://www.wikidata.org/wiki/Q111710163",
      "https://github.com/privacyguides"
      ]
    },
    "worksFor": {
      "@type": "Organization",
      "name": "Techlore",
      "sameAs": [
      "https://youtube.com/@techlore"
      ]
    },
    "knowsAbout": "Privacy",
    "description": "Jonah Aragon creates educational resources for average people to understand the importance of privacy and security on the internet, and take back control over their digital lives. He is known for his work on the Techlore YouTube channel, including the Techlore Talks podcast he co-hosts, and the Privacy Guides non-profit website.",
    "disambiguatingDescription": "American writer and podcast host"
}
</script>
