---
title: "Contact Key Verification has finally arrived in iOS 17.2"
date: 2023-12-11
ShowWordCount: false
---

<div style="position: relative; padding-top: 56.25%; margin-bottom: 1rem;"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/-2gzN6125P4?si=UgOwUXPCpnr6Xsjl" style="position: absolute; inset: 0px;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>

A year after it was [announced](https://www.apple.com/newsroom/2022/12/apple-advances-user-security-with-powerful-new-data-protections/), iOS 17.2's release today brings Key Verification in iMessage to the public. This feature promises to drastically improve the security of your iMessages through two technologies: [**Key Transparency**](https://security.apple.com/blog/imessage-contact-key-verification/), and **Contact Key Verification**. In this video I talk about why these features actually matter, the threat they address, and how you can opt in to higher levels of security in iMessage on your phone right now.

- [Watch (and subscribe!) on YouTube](https://www.youtube.com/watch?v=-2gzN6125P4)
- [Watch on PeerTube](https://neat.tube/w/k2pGiRmxa2xCYFWNc7y7Sv)
